# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://lugakfqhugqciwlskunt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ECPay（綠界金流，正式環境才需要）
ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
ECPAY_BASE_URL=https://payment-stage.ecpay.com.tw
